<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<base href="/admin/"
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<%= stylesheet_link_tag "admin", :media => "all" %>
<%= csrf_meta_tags %>
<title>TinyQ 管理后台</title>
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-top">
        <div>菜单</div>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="pull-right" style="margin:12px auto">
        <li class="center-block">
        <div class="btn-group uers_info">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span> <%= current_admin.login %> 
            <span class="caret"></span>
        </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">设置</a></li>
            <li class="divider"></li>
            <li><a href="<%= destroy_admin_session_url %>">退出登录</a></li>
          </ul>
        </div>
        </li>
      </ul>
      <a class="navbar-brand" href="#">MsOnLine</a>
    </div>
  </nav>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="side_nav collapse navbar-collapse" id="nav-top" >
    <ul class="nav navbar-nav" id="accordion" data-toggle="buttons">
      <li class="panel">
      <a href="#collapse1" class="dropdown-toggle"  data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-home"></span>  用户<b class="caret"></b></a>
      <ul id="collapse1" class="collapse list-unstyled sednav">
        <li data-controller="main"><%= link_to '用户', root_path %></li>
      </ul>
      </li>
      <li class="panel">
      <a href="#collapse2" class="dropdown-toggle"  data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-stats"></span>  内容管理<b class="caret"></b></a>
      <ul id="collapse2" class="collapse list-unstyled sednav">
        <li><a href="#">条件1</a></li>
        <li><a href="#">条件2</a></li>
      </ul>
      </li>
      <li class="panel">
      <a href="#collapse3" class="dropdown-toggle"  data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-dashboard"></span>  系统设置<b class="caret"></b></a>
      <ul id="collapse3" class="collapse list-unstyled sednav">
        <li data-controller="weixin_accounts"><a href="<%= admin_weixin_accounts_path %>">公众号设置</a></li>
        <li data-controller="weixin_menus"><a href="<%= admin_weixin_menus_path %>">公众号菜单设置</a></li>
      </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  <div class="containerk" style="overflow-y:auto">
    <%= yield %>
  </div><!-- /containerk -->

  <%= javascript_include_tag "admin" %>
  <script>
    $(document).ready(function(){
      admin.initMenu('<%= controller_name %>')
    });
  </script>

</body>
</html>
